/* Container for the favorites bar */
.favorites-bar {
  position: fixed;
  width: 300px;
  top: 100px;
  margin-bottom: 100px;
  height: 100%;
  background-color: var(--bg-color);
  border-left: 2px solid var(--border-color);
  box-shadow: -2px 0 5px var(--card-shadow);
  padding: 20px;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

/* Hover effect for the favorites bar */
.favorites-bar:hover {
  background-color: var(--hover-background-color);
}

/* Responsive adjustments for the favorites bar */
@media (max-width: 768px) {
  .favorites-bar {
    transform: translateX(0);
  }

  .favorites-bar.visible {
    transform: translateX(100%);
  }
}

/* Styling for the list within the favorites bar */
.favorites-bar ul {
  list-style: none;
  padding: 0;
}
.favorites-bar .div.card {
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  box-shadow: 5px 5px 12px var(--card-shadow);
  background: var(--hover-background-color);
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
}
/* Styling for individual favorite items */
.favorites-bar .div .favorite-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  box-shadow: 5px 5px 12px var(--card-shadow);
  background: var(--hover-background-color);
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  transition: transform 0.2s ease;
  cursor: grab;
}

/* Active state styling for favorite items */
.favorite-item:active {
  cursor: grabbing;
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  box-shadow: 5px 5px 12px var(--card-shadow);
  background: var(--hover-background-color);
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
}

/* Hover effect for favorite items */
.favorite-item:hover {
  transform: translateY(-5px);
}

/* Styling for images within favorite items */
.favorite-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px;
}

/* Styling for the clear button */
.clear-button {
  width: 100%;
  padding: 10px;
  background-color: var(--favorite-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

/* Styling for the drop zone within the favorites bar */
.favorites-drop-zone {
  border: 2px dashed var(--border-color);
  padding: 20px;
  text-align: center;
  background-color: var(--bg-color);
  margin: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border-radius: 8px;
  transition: all 0.6s ease-in-out;
}

/* Hover and active state styling for the drop zone */
.favorites-drop-zone:hover,
.favorites-drop-zone.active {
  background-color: var(--hover-background-color);
  border-color: var(--favorite-color);
}
