.hero {
  background-color: var(--bg-color);
  padding: 20px;
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.overlay {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.hero-text {
  flex-grow: 1;
  font-size: 2.5em;
  padding: 20px;
  color: var(--highlight-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.hero-text p {
  font-size: 1.2em;
  color: var(--secondary-color);
  margin-top: 10px;
}

.hero-carousel {
  flex-grow: 1;
  padding: 20px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
}

.hero-carousel img {
  background-color: white;
  max-width: 100%;
  height: auto;
  border-radius: 35px;
  transition: opacity 1s ease-in-out;
}

.start-search-btn {
  padding: 20px;
  margin-bottom: 20px;
  width: 60%;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.carousel-fade .carousel-item {
  transition: opacity 2500ms ease-in-out;
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active {
  opacity: 1;
}
