.search-form-container {
  align-items: center;
  justify-content: center;
  padding: 20px;

  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-form-container .row {
  margin: 20px;
}
.search-form-container .col {
  padding: 10px;
}
.col {
  align-content: center;
}
.search-form label {
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
}
.location {
  padding: 10px;
  border-radius: 5px;
}
