/* Container for the search form with glass effect */
.search-form-container {
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: var(--glass-background-color);
  backdrop-filter: blur(4px);
  border-top: 2px solid #ffffff75;
  border-left: 2px solid #ffffff75;
}

/* Styling for rows within the search form container */
.search-form-container .row {
  margin: 20px 0;
  text-align: left;
}

/* Styling for columns within the search form container */
.search-form-container .col {
  padding: 10px;
}

/* Styling for labels within the search form */
.search-form label {
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 4px;
}

/* Styling for the search button */
.search-form .search-form-container .search-btn {
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: 15px;
  scale: 0.8;
  transition: all 0.3s ease;
  margin-top: 25px;
}

/* Hover effect for the search button */
.search-form .search-form-container .search-btn:hover {
  background-color: transparent;
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  border-radius: 15px;
  transform: scale(1);
}

/* Styling for input and select elements within the search form */
.search-form input,
.search-form select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

/* Styling for location input */
.location {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--input-background-color);
  border: 1px solid var(--border-color);
}

/* Duplicate styling for input and select elements */
.search-form input,
.search-form select {
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

/* Placeholder styling for input elements */
.search-form input::placeholder {
  color: var(--text-color); /* Change the color */
  opacity: 0.3; /* Ensure the opacity is set to 1 for full visibility */
}

/* Styling for slider labels within the search form */
.search-form .search-form-container .slider-label {
  color: var(--text-color);
}

/* General styling for DatePicker container */
.react-date-picker {
  width: 100%;
  font-family: inherit;
  box-sizing: border-box;
  color: var(--primary-color);
}
.react-date-picker__calendar-button {
  display: none;
}
/* Wrapper styling for DatePicker */
.react-date-picker__wrapper {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--text-color);
  padding: 0; /* Reset padding */
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box; /* Ensures borders and padding are included */
}

.search-form .search-form-container .react-calendar {
  background: transparent;
}

/* Styling the input fields within DatePicker */
.react-date-picker__inputGroup {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

/* Styling for individual input fields within DatePicker */
.react-date-picker__inputGroup__input {
  background: transparent;
  border: none;
  color: var(--text-s-color);
  font-size: 1rem;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; /* Ensure it fits within the parent */
  box-sizing: border-box;
}
.react-calendar__navigation {
  background-color: var(--primary-color);
}

.react-calendar__month-view__weekdays {
  background-color: var(--primary-color);
}
/* Placeholder styling for DatePicker input fields */
.react-date-picker__inputGroup__input::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Adjust placeholder color */
}

/* Focus styling for DatePicker input fields */
.search-form
  .search-form-container
  .react-date-picker__inputGroup__input:focus {
  outline: none;
  color: var(--primary-color);
}

/* Adjust the calendar icon within DatePicker */
.search-form .search-form-container .react-date-picker__button {
  border: none;
  color: var(--text-color); /* Use text color */
  cursor: pointer;
  padding: 5px;
  margin: 0;
}
/* Styling for the calendar icon SVG */
.react-date-picker__button svg {
  fill: var(--text-s-color); /* Apply text color to the icon */
  width: 20px;
  height: 20px;
}

/* Custom calendar styling */
.react-date-picker__calendar {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--text-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.react-date-picker__inputGroup__input:invalid {
  background-color: var(--primary-color);
}
.search-form-container
  .react-date-picker__wrapper
  .react-date-picker__inputGroup__input {
  color: var(--text-s-color);
  font-size: 1rem;
}
/* Responsive adjustments for DatePicker */
@media (max-width: 576px) {
  .react-date-picker__wrapper {
    height: 35px;
  }

  .react-date-picker__button svg {
    width: 16px;
    height: 16px;
  }
}

/* Responsive adjustments for search form container */
@media (max-width: 768px) {
  .search-form-container {
    padding: 10px;
  }

  .search-form-container .row {
    margin: 10px 0;
  }

  .search-form-container .col {
    padding: 5px;
  }

  .search-form input,
  .search-form select,
  .search-form .rw-widget-picker {
    padding: 8px;
  }
}

/* Additional responsive adjustments for search form container */
@media (max-width: 576px) {
  .search-form-container {
    padding: 5px;
  }
  .react-date-picker__wrapper {
    padding: 3px 8px;
    height: 35px;
  }

  .react-calendar__navigation button {
    font-size: 1rem;
  }
  .search-form-container .row {
    margin: 5px 0;
  }

  .search-form-container .col {
    padding: 2px;
  }

  .search-form input,
  .search-form select,
  .search-form .rw-widget-picker {
    padding: 6px;
  }
}
