/* Container for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-color);
}

/* Styling for the logo link */
.header .logo a {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}

/* Styling for the logo text */
.logo {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  color: var(--text-color);
}

/* Styling for the logo image */
.logo-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Styling for the navigation links */
.nav-links {
  display: flex;
  gap: 60px;
}

/* Styling for individual navigation links */
.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1em;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

/* Hover effect for navigation links */
.nav-links a:hover {
  transform: scale(1.2);
  font-size: 1.2em;
}

/* Active state styling for navigation links */
.nav-links .active {
  font-size: large;
  font-weight: 600;
  border-bottom: 2px solid var(--text-color);
}

/* Styling for header actions (buttons) */
.header-actions {
  display: flex;
  gap: 10px;
}

/* Styling for the dark mode switch button */
.dark-mode-switch {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Styling for the sign-up button */
.sign-up {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Styling for the hamburger menu button */
.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--text-color);
}

/* Responsive adjustments for navigation links and hamburger menu */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--bg-color);
    padding: 10px;
    border: 1px solid var(--border-color);
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }
}
