.search-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--input-background-color);
  color: var(--text-color);
}

.search-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: var(--primary-color-hover);
}

.main-container {
  display: flex;
  flex-grow: 1;
}

.main-content {
  flex: 1;
  margin-right: 300px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

.right-section {
  position: fixed;
  top: 100px;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: var(--bg-color);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.right-section:hover {
  background-color: var(--hover-background-color);
}

.right-section.visible {
  transform: translateX(0);
}

.toggle-favorites-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-content {
    margin-right: 0;
  }

  .right-section {
    transform: translateX(100%);
  }

  .right-section.visible {
    transform: translateX(0);
  }

  .toggle-favorites-button {
    display: block;
  }
}
