:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-s-color: #ffffff;
  --primary-color: #1c563b;
  --border-color: #ccc;
  --input-background-color: transparent;
  --button-text-color: #ffffff;
  --button-background-color: #000000;
  --favorite-color: #ff6b6b;
  --favorite-color-hover: #ff3b3b;
  --item-background-color: #ffffff;
  --border-color: rgba(0, 0, 0, 0.1);
  --card-bg: #fff;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --hover-shadow: rgba(0, 0, 0, 0.2);
  --hover-background-color: rgb(255, 255, 255, 0.1);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  background-color: var(--bg-color);
  color: var(--text-color);
  background: url("./assets/Background/light-bg.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

header,
footer {
  flex: 0 0 auto;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.dark-mode {
  --bg-color: #000000;
  --text-color: #ffffff;
  background-color: var(--bg-color);
  color: var(--text-color);
  background: url("./assets/Background/dark-bg.jpeg") no-repeat center center
    fixed;
  background-size: cover;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.btn {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-s-color);
}
.app .app-container .glass {
  border-top: 2px solid #ffffff75;
  border-left: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff25;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
}
@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}
