:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-s-color: #ffffff;
  --primary-color: #1c563b;
  --border-color: #ccc;
  --input-background-color: #f9f9f9;
  --button-text-color: #ffffff;
  --button-background-color: #000000;
  --primary-color-hover: #0056b3;
  --hover-background-color: #e9ecef;
  --favorite-color: #ff6b6b;
  --favorite-color-hover: #ff3b3b;
  --item-background-color: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
}

.dark-mode {
  --bg-color: #000000;
  --text-color: #ffffff;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
